In [ ]:
"""
Program: Zoo.py
Author: Tomi Simic
Last date modified: 2024-04-12
This program is to be used for M04 Programming Assignment - Modules and Databases
"""
# pseudo code:
# create a function to print a statement
def hours():
    print("Open 9-5")


if name=="__main__":
    hours()

In [7]:
import zoo
zoo.hours()

Open 9-5

In [8]:
import zoo as menagerie
menagerie.hours()

Open 9-5

In [13]:
import sqlite3
connection = sqlite3.connect('book.db')
cursor = connection.cursor()
cursor.execute("""CREATE TABLE books
        (title VARCHAR(20) PRIMARY KEY,
        author VARCHAR(20),
        year INT)""")

In [14]:
cursor.close()
connection.close()

In [15]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import sqlalchemy as sa
connection = sa.create_engine('sqlite:///book.db')
book_titles = connection.execute('SELECT * FROM book')
for book in book_titles[::-1]:
    print(book)

AttributeError: 'Engine' object has no attribute 'execute'